input(type='hidden' name='id')
fieldset
  legend Common Names
  label(for='primary_name') Primary Name
  input(type='text' name='primary_name' value=bird.primary_name required='')
  label(for='english_name') English Name
  input(type='text' name='english_name' value=bird.english_name required='')
  label(for='other_names') Other Names
  textarea(name='other_names' value=bird.other_names rows='10' cols='50')
fieldset
  legend Taxonomy
  label(for='scientific_name') Scientific Name
  input(type='text' name='scientific_name' value=bird.scientific_name required='')
  label(for='order') Order
  input(type='text' name='order' value=bird.order required='')
  label(for='family') Family
  input(type='text' name='family' value=bird.family required='')
fieldset
  legend Size
  label(for='length') Length (cm)
  input(type='number' name='length' value=bird.size.length.value)
  label(for='weight') Weight (g)
  input(type='number' name='weight' value=bird.size.weight.value)
fieldset
  legend Conservation
  label(for='status') Status
        select#status(name='status')
          option(selected= bird.status) Not Threatened
          option Naturally Uncommon
          option Relict
          option Recovering
          option Declining
          option Nationally Increasing
          option Nationally Vulnerable
          option Nationally Endangered
          option Nationally Critical
          option Data Deficient
fieldset
  legend Photo
  label(for='photo_credit') Photo Credit
  input(type='text' name='photo_credit' value=bird.photo.credit required='')
  label(for='photo_upload') Upload New Photo
  input#photo_upload(type='file' name='photo_upload')
  label(for='photo_source') Photo Preview
  img#upload_preview(src=`/images/${bird.photo.source}` alt='Photo of '+ bird.primary_name)
  input#upload_source(type='text' name='photo_source' readonly='readonly' value=bird.photo.source)
button(type='submit') SAVE BIRD